<link href="../css/style.css" media="screen" rel="stylesheet" type="text/css" />
<link href="../css/blog.css" media="screen" rel="stylesheet" type="text/css" /><!--CSS-->
<div class="section-title">
<h2><em>Formazione, un impegno ed un progresso costante!</em></h2>
</div>
<!--END SECTION TITLE-->

<div class="one-third" id="formazione-1">
<h3>Osmairm ed i corsi di formazione</h3>

<p><strong><span style="background-color:#FFF031;">Formazione, Ricerca e Innovazione</span></strong> costituiscono uno dei punti qualificanti e di eccellenza della <strong><em>Mission </em>Osmairm</strong>.<br />
<br />
Fin dall'inizio della sua attività l'Osmairm, già più di 40 anni fa, ha ritenuto che parte consistente delle sue energie e risorse dovessero essere spese in direzione della ricerca è della formazione. I lavori di ricerca, che hanno interessato operatori è pazienti, finalizzati alla progettazione è realizzazione di progetti educativi importanti, hanno prodotto diverse pubblicazioni su riviste specializzate del settore medico e terapeutico. </p>

<p>Inoltre fin dagli anni 80,<strong> l'Osmairm in collaborazione con l'Università degli Studi di Bari</strong>, ha erogato annualmente <strong><span style="background-color:#FFF031;">corsi biennali per l'insegnamento di sostegno</span></strong> con una buona ricaduta nel mondo del lavoro per tutti i discenti.</p>

<p><span style="font-size: 13px; font-style: normal; ">A partire dal 2002, con l'introduzione del </span><strong style="font-style: normal; font-size: 13px; ">programma ECM </strong><span style="font-size: 13px; font-style: normal; ">(Educazione continua in medicina), programma obbligatorio istituito dal </span><strong style="font-style: normal; font-size: 13px; ">Ministero della Salute</strong><span style="font-size: 13px; font-style: normal; "> ed oggi in capo all'</span><strong style="font-style: normal; font-size: 13px; ">Agenas</strong><span style="font-size: 13px; font-style: normal; "> (Agenzia Nazionale Servizi Sanitari), l’Osmairm ha aderito con il proprio centro di formazione, all'accreditamento nazionale come provider.</span></p>
</div>

<div class="one-third">
<p> </p>

<p><strong>A partire dal 2011 è stato richiesto il suo definitivo accreditamento regionale, la cui validazione è tuttora in itinere.</strong></p>

<blockquote>
<p>Nell'arco di questi 11 anni sono stati prodotti più di 200 eventi formativi che hanno interessato le diverse professionalità che operano nell'ambito della riabilitazione ex articolo 26.</p>
</blockquote>

<p style="font-style: normal; font-size: 13px; "><br />
<span style="font-size: 13px; font-style: normal; ">Gli eventi prodotti hanno affrontato una pluralità di tematiche </span><span style="font-size: 13px; font-style: normal; ">inerenti alle patologie trattate più frequentemente dalle nostre strutture riabilitative.</span></p>

<p style="font-style: normal; font-size: 13px; "><span style="font-style: normal; font-size: 13px; ">Il Centro di formazione Osmairm diretto dal dottor </span><strong style="font-style: normal; font-size: 13px; ">Lorenzo Moramarco</strong><span style="font-style: normal; font-size: 13px; ">, si occupa anche dei <strong><span style="background-color:#FFF031;">corsi di aggiornamento obbligatorio per i dipendenti di una struttura sanitaria</span></strong>, prevedendo sessioni annuali di studio riguardanti la </span><strong style="font-style: normal; font-size: 13px; ">legge sulla privacy</strong><span style="font-style: normal; font-size: 13px; ">,</span><strong style="font-style: normal; font-size: 13px; "> il Testo Unico n°81</strong><span style="font-style: normal; font-size: 13px; "> e </span><strong style="font-style: normal; font-size: 13px; ">L’Hccp</strong><span style="font-style: normal; font-size: 13px; ">.</span></p>

<p> </p>
</div>

<div class="one-third last">
<h3><span style="font-style: normal; ">Info e Contatti</span></h3>

<p style="font-style: normal; font-size: 13px; "><strong style="font-size: 13px; "><span style="background-color:#FFF031;">Dott. Lorenzo Moramarco</span></strong><br />
<b>Tel. +39 099 821 62 13<br />
Mail: formazione@osmairm.it </b></p>

<h1 style="font-style: normal; font-size: 13px; "><span style="font-size: 18px; ">Download / F.a.q</span></h1>

<ul>
	<li style="font-style: normal; font-size: 13px; "><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-style: normal; font-size: 13px; "><strong style="font-size: 13px; "><span style="font-size: 13px; "><span style="font-size: 13px; background-color: rgb(255, 237, 0); ">Brochure informativa</span></span></strong></a></li>
</ul>
</div>
<!--END ONE-THIRD--><!--TERZA COLONNA--><!--END ONE-THIRD-->

<div class="divider-border"> </div>

<p><br />
<!--END ONE-THIRD--><!--ULTIMA COLONNA--><!--END ONE-THIRD--></p>

<div class="one-third" id="formazione-2">
<h3>Corsi Attivi - 1° Semestre 2014<br />
<br />
<strong style="font-size: 13px; line-height: 1.6em;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">CORSO BOBATH BASE</span> </strong><span style="font-size: 13px; line-height: 1.6em;">(1° Modulo) </span></h3>

<p style="font-style: normal; font-size: 13px;"><span style="font-size: 13px; line-height: 1.6em;">Per il paziente neurologico adulto e patologie affini</span><br />
<span style="font-size: 13px; line-height: 1.6em;">Docente: </span><strong style="font-size: 13px; line-height: 1.6em;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">Dott. Giovanni De Giorgi</span></strong><span style="font-size: 13px; line-height: 1.6em;"> (Scuola Corberi)</span><br />
 </p>

<p style="font-style: normal; font-size: 13px;"><span style="font-size: 13px; line-height: 1.6em;">Indirizzato a: </span><strong style="font-size: 13px; line-height: 1.6em;">FISIOTERAPISTI</strong><span style="font-size: 13px; line-height: 1.6em;"> </span><strong style="font-size: 13px; line-height: 1.6em;">DELLA RIABILITAZIONE</strong><br />
<span style="font-size: 13px; line-height: 1.6em;">Date: </span><strong style="font-size: 13px; line-height: 1.6em;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">26, 27, 28 Maggio</span></strong><span style="font-size: 13px; line-height: 1.6em;"> 2014 e </span><strong style="font-size: 13px; line-height: 1.6em;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">6, 7, 8 Giugno</span></strong><span style="font-size: 13px; line-height: 1.6em;"> 2014</span><br />
<span style="font-size: 13px; line-height: 1.6em;">Luogo: </span><strong style="font-size: 13px; line-height: 1.6em;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">Nuova struttura Osmairm - Via Cappuccini,9 - Laterza (Ta)</span></strong></p>

<p style="font-style: normal; font-size: 13px;"><span style="font-size: 13px; line-height: 1.6em;">Crediti formativi: </span><strong style="font-size: 13px; line-height: 1.6em;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">50</span></strong><span style="font-size: 13px; line-height: 1.6em; background-color: rgb(255, 240, 49);"> </span><br />
Numero massimo partecipanti: <strong style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">25</span></strong><br />
Costo Complessivo:<strong style="font-size: 13px;"> <span style="font-size: 13px; background-color: rgb(255, 240, 49);">€ 500,00*</span></strong><br />
 </p>

<p style="margin-bottom: 14px; font-style: normal; font-size: 13px;"><strong style="font-size: 13px;">*Possibilità di dilazionare il pagamento versando € 50,00 al momento dell'iscrizione ed il saldo entro il 31/12/2014</strong></p>

<p> </p>
</div>
<!--END ONE-THIRD-->

<div class="one-third">
<p style="font-style: normal; font-size: 13px;"> </p>

<p style="font-style: normal; font-size: 13px;"><br />
<strong style="font-size: 13px; line-height: 1.6em;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">PARALISI CELEBRALI INFANTILI</span></strong><span style="font-size: 13px; line-height: 1.6em;"> </span></p>

<p style="font-style: normal; font-size: 13px;">La riabilitazione della funuione cammino: gli strumenti terapeutici<br />
Docente: <strong style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">Prof. Adriano Ferrari</span></strong> (Facoltà di Medicina e Chirurgia, dip. Neuroscienze - Università di Modena e Reggio Emilia)</p>

<p style="font-style: normal; font-size: 13px;">Indirizzato a: <strong style="font-size: 13px;">MEDICI, PSICOLOGI, INFERMIERI, FISIOTERAPISTI, EDUCATORI SANITARI, LOGOPEDISTI</strong><br />
Date: <strong style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">3 - 4</span></strong><strong style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);"> Giugno</span></strong> 2014<br />
Luogo: <strong style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">Sala Convegni "La Cavalerrizza", Palazza Marchesale - Laterza (Ta)</span></strong></p>

<p style="font-style: normal; font-size: 13px;">Crediti formativi: <strong style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">16</span></strong><span style="font-size: 13px; background-color: rgb(255, 240, 49);"> </span><br />
Numero massimo partecipanti: <strong style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">100</span></strong><br />
Costo Complessivo:<strong style="font-size: 13px;"> <span style="font-size: 13px; background-color: rgb(255, 240, 49);">€ 90,00</span></strong></p>

<p style="margin-bottom: 14px; font-style: normal; font-size: 13px;"> </p>

<p> </p>
</div>

<div class="one-third last">
<p style="font-style: normal; font-size: 13px;"> </p>

<p style="font-style: normal; font-size: 13px;"><br />
<strong style="font-size: 13px; line-height: 1.6em;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">CORSO DI LINFODRENAGGIO </span></strong></p>

<p style="font-style: normal; font-size: 13px;"><strong style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">METODO VODDER </span></strong> (1° Modulo) + <strong style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">METODO LEDUC</span></strong> (2° Modulo)<br />
Docente: <strong style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">Dott.ssa Cinzia Cirielli</span></strong> (Scuola di Formazione delle Discipline Bio-Naturali Acquathermcenter a Carpi)</p>

<p style="font-style: normal; font-size: 13px;">Indirizzato a: <strong style="font-size: 13px;">MEDICI, PSICOLOGI, INFERMIERI, FISIOTERAPISTI, EDUCATORI SANITARI, LOGOPEDISTI</strong><br />
Date: <strong style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">17, 18, 19 Luglio</span></strong> 2014 e e <strong style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">18, 19, 20 Settembre</span></strong> 2014<br />
Luogo: <strong style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">Nuova struttura Osmairm - Via Cappuccini,9 - Laterza (Ta)</span></strong></p>

<p style="font-style: normal; font-size: 13px;">Crediti formativi: <strong style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">50</span></strong><span style="font-size: 13px; background-color: rgb(255, 240, 49);"> </span><br />
Numero massimo partecipanti: <strong style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">25</span></strong><br />
Costo Complessivo:<strong style="font-size: 13px;"> <span style="font-size: 13px; background-color: rgb(255, 240, 49);">€ 500,00*</span></strong></p>

<p style="margin-bottom: 14px; font-style: normal; font-size: 13px;"><strong style="font-size: 13px;">*Possibilità di dilazionare il pagamento versando € 50,00 al momento dell'iscrizione ed il saldo entro il 31/12/2014</strong></p>

<div> </div>
</div>

<div class="one-third">
<p> </p>
</div>

<p><br />
<!--END ONE-THIRD--><!--ULTIMA COLONNA--><!--END ONE-THIRD--></p>

<div class="divider-border"> </div>

<p><br />
<!--END ONE-THIRD--><!--ULTIMA COLONNA--><!--END ONE-THIRD--></p>
