 <link media="screen" href="../../css/style.css" type="text/css" rel="stylesheet" />
<link media="screen" href="../../css/blog.css" type="text/css" rel="stylesheet" />
 <!--start-->
 <p>
                               Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis ligula. Vestibulum
                                    id porta felis euismod.
                            </p>
                            <blockquote class="left">
                                <p>
                                    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis ligula. Vestibulum
                                    id porta felis euismod.</p>
                                <small>- Mister John Doe -</small>
                            </blockquote>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo, nemo enim ipsam voluptatem quia voluptas
                                sit asperna.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. Etiam eget mi
                                enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi architecto
                                beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem non ultricies dicta
                                sunt etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis
                                et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem
                                non ultricies dicta sunt.</p>
                            <p>
                                <img src="images/portfolio-item-12.jpg" width="185" alt="" class="alignleft" />
                                Etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem non ultricies
                                dicta sunt etiam eget mi enim, non ultricies nisi voluptatem, illo inventore veritatis
                                et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem
                                non ultricies dicta sunt... Sed ut perspiciatis unde omnis iste natus error sit
                                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                                ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo,
                                nemo enim ipsam voluptatem quia voluptas sit asperna. Sed ut perspiciatis unde omnis
                                iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                                eaque ipsa quae ab illo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                veritatis et quasi architecto beatae vitae dicta sunt explicabo, nemo enim ipsam
                                voluptatem quia voluptas sit asperna.Sed ut perspiciatis unde omnis iste natus error
                                sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                                quae ab illo.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
                                et quasi architecto beatae vitae dicta sunt explicabo, nemo enim ipsam voluptatem
                                quia voluptas sit asperna. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo. Sed
                                ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo, nemo enim ipsam voluptatem quia voluptas
                                sit asperna.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>