<link href="../css/style.css" media="screen" rel="stylesheet" type="text/css" />
<link href="../css/blog.css" media="screen" rel="stylesheet" type="text/css" /><!--CSS-->
<div class="section-title">
<h2><em>I Servizi Osmairm, Riabilitazione a 360°!</em></h2>
</div>

<p><strong><!--END SECTION TITLE--> </strong></p>

<div class="one-third" id="riab-1">
<h3><span style="background-color: #FFF031;">Riabilitazione Residenziale</span></h3>

<p>L’accesso per le prestazioni ex Art.26, L 833/78 è riferito al "<strong>trattamento di disabilità importanti con possibili esiti permanenti, spesso multiple, che richiedono una presa in carico multidisciplinare del soggetto disabile nel lungo termine tramite un progetto riabilitativo individuale</strong>".</p>

<p>Pertanto le prestazioni riabilitative ex Art. 26 L 833/78 sono rivolte a <strong>soggetti affetti da patologie acute o croniche</strong> che necessitano di <strong>trattamenti riabilitativi personalizzati e prolungati, multidisciplinari</strong> (sanitari, sociali, psicologici, educativi, addestrativi), di media e lunga durata, che mirano a prevenire o ridurre o stabilizzare la disabilità  che consegue a tali patologie.</p>
</div>

<div class="one-third">
<p> </p>

<p>Presso la sede centrale di Laterza, in via Cappuccini, è possibile accedere al ricovero a carattere riabilitativo con le seguenti due modalita: <strong>Terapia Riabilitativa Intensiva Post-Acuti (T.Ri.P.A.) e Terapia Riabilitativa di tipo estensivo.</strong></p>

<p> </p>

<blockquote>
<p>L'équipe  multidisciplinare dell'Istituto di concerto con il Medico di Base, il Servizio Territoriale di Riabilitazione e le Famiglie elabora un progetto riabilitativo individuale</p>
</blockquote>
</div>

<div class="one-third last">
<h3 style="font-style: normal;">Documentazione e Download</h3>

<ul>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf"><span style="font-size: 13px;"><b><span style="background-color: #FFED00;">Prenotazione e accettazione (RR)</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;"><span style="font-size: 13px;"><b><span style="background-color: #FFED00;">Documentazione in ingresso</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;"><span style="font-size: 13px;"><b><span style="background-color: #FFED00;">Cosa portare per il ricovero</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;"><span style="font-size: 13px;"><b><span style="background-color: #FFED00;">Documentazione in uscita</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;"><span style="font-size: 13px;"><b><span style="background-color: #FFED00;">Servizi per degenti e visitatori</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;"><span style="font-size: 13px;"><b><span style="background-color: #FFED00;">orari di visita</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;"><strong style="font-size: 13px;"><span style="font-size: 13px;"><span style="background-color: #FFED00;">Brochure informativa</span></span></strong></a></li>
</ul>

<h3>Dove?</h3>

<ul style="font-style: normal; font-size: 13px;">
	<li style="font-size: 13px;"><a href="http://www.osmairm.it/Strutture.aspx#struttura-1" target="_self"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Laterza (TA)</span></b></span></a></li>
</ul>
</div>

<p><!--END ONE-THIRD--><!--ULTIMA COLONNA--><!--END ONE-THIRD--></p>

<div class="divider-border"> </div>

<div class="one-third" id="riab-2">
<h3><strong><span style="background-color: #FFF031;">Terapia Riab. Intensiva Post-Acuti</span></strong></h3>

<p><strong><span style="background-color: #FFF031;">T.Ri.P.A.</span></strong>: intervento di tipo intensivo nelle fasi immediatamente sub-acute o di recrudescenza degli esiti invalidanti, il cui programma per Paziente non può eccedere la durata massima di 60 giorni.</p>

<p>Rivolta a <em>Pazienti, provenienti da reparti ospedalieri per acuti</em>, tali prestazioni sono riconosciute solo su espressa richiesta del Direttore dell’Unita operativa dell’ultimo ricovero dell’Azienda Ospedaliera, degli Enti Ecclesiastici, degli I.R.C.C.S. e delle Case di Cura provvisoriamente ed istituzionalmente accreditate.</p>

<p>Per <strong>l’accesso</strong> in Trattamento Riabilitativo Post-Acuto, presso questa struttura, si rende necessario che sulla lettera di dimissione ospedaliera, sia riportata la seguente dicitura: <strong><span style="background-color: #FFF031;">“Si richiede trattamento riabilitativo in regime di ricovero”</span></strong>.</p>
</div>
<!--END ONE-THIRD-->

<div class="one-third">
<h3> </h3>

<blockquote>
<p style="margin-bottom: 0cm">Cura, terapia e relazione, per il pieno recupero funzionale.</p>
</blockquote>
</div>

<div class="one-third last">
<h3 style="font-style: normal;">Documentazione e Download</h3>

<ul style="font-style: normal; font-size: 13px;">
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Prenotazione e accettazione (RR)</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Documentazione in ingresso</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Cosa portare per il ricovero</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Documentazione in uscita</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Servizi per degenti e visitatori</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">orari di visita</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><strong style="font-size: 13px;"><span style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Brochure informativa</span></span></strong></a></li>
</ul>

<h3 style="font-style: normal;">Dove?</h3>

<ul style="font-style: normal; font-size: 13px;">
	<li style="font-size: 13px;"><a href="http://www.osmairm.it/Strutture.aspx#struttura-1" target="_self"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Laterza (TA)</span></b></span></a></li>
</ul>
</div>

<p><!--END ONE-THIRD--><!--ULTIMA COLONNA--><!--END ONE-THIRD--></p>

<div class="divider-border"> </div>

<div class="one-third" id="riab-3">
<h3><strong><span style="background-color: #FFF031;">Terapia Riab. di tipo Estensivo</span></strong></h3>

<p>Attività di riabilitazione rivolta a pazienti, provenienti dal territorio, portatori di disabilità fisiche, psichiche e sensoriali, erogate in regime continuativo.</p>

<p>Rivolta a Pazienti in condizioni di disabilità conseguenti a patologie invalidanti, ammissibili per condizione clinica stabilizzata, tale da richiedere un <strong><span style="background-color: #FFF031;">intervento riabilitativo intensivo multicomprensivo</span></strong> ed un s<strong><span style="background-color: #FFF031;">upporto multidisciplinare distribuito nell’arco delle 24 ore</span></strong>.</p>

<p>L’accesso al servizio di riabilitazione avviene sulla base di specifica proposta del Medico di Medicina Generale, del Medico Ospedaliero o Specialista convenzionato della ASL, redatta su ricettario regionale, riportante la seguente dicitura: <strong>“<span style="background-color: #FFF031;">Si richiede ricovero per trattamento riabilitativo residenziale di tipo estensivo, in struttura censita ex Art. 26, L. 833/78</span>”</strong>. L‘equipe multidisciplinare del Centro di Riabilitazione, nel rispetto dei criteri clinici per l‘accesso, prende in carico il paziente ed elabora un Progetto Riabilitativo Individuale che viene sottoposto ai competenti servizi della ASL come da normativa vigente.</p>
</div>
<!--END ONE-THIRD-->

<div class="one-third">
<h3> </h3>

<p>La presa in carico del Paziente che giunge a ricovero presso l’O.S.M.A.I.R.M. prevede un approccio di tipo interdisciplinare secondo le direttive previste dalle moderne Linee Guida Internazionali della Riabilitazione.</p>

<p> </p>

<blockquote>
<p>Tale modalità di ricovero, così come normata, prevede che la terapia farmacologica, gli esami clinico-diagnostici e/o strumentali, gli ausili, di cui possa necessitare il Paziente, permangano a carico del Medico di Medicina Generale, cui compete l’obbligo di compilazione delle prescrizioni, su modulario regionale in uso.</p>
</blockquote>
</div>

<div class="one-third last">
<h3 style="font-style: normal;">Documentazione e Download</h3>

<ul style="font-style: normal; font-size: 13px;">
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Prenotazione e accettazione (RR)</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Documentazione in ingresso</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Cosa portare per il ricovero</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Documentazione in uscita</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Servizi per degenti e visitatori</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">orari di visita</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><strong style="font-size: 13px;"><span style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Brochure informativa</span></span></strong></a></li>
</ul>

<h3 style="font-style: normal;">Dove?</h3>

<ul style="font-style: normal; font-size: 13px;">
	<li style="font-size: 13px;"><a href="http://www.osmairm.it/Strutture.aspx#struttura-1" target="_self"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Laterza (TA)</span></b></span></a></li>
</ul>
</div>

<p><!--END ONE-THIRD--><!--ULTIMA COLONNA--><!--END ONE-THIRD--></p>

<div class="divider-border"> </div>

<div class="one-third">
<h3><strong>Equipe / Patologie:</strong></h3>

<ul>
	<li align="JUSTIFY">Il Medico Responsabile</li>
	<li align="JUSTIFY">Medici specialisti in diverse branche</li>
	<li align="JUSTIFY">Psicologi</li>
	<li align="JUSTIFY">Assistenti Sociali</li>
	<li align="JUSTIFY">Terapisti della riabilitazione</li>
	<li align="JUSTIFY">Infermieri</li>
	<li align="JUSTIFY">Logopedista</li>
	<li align="JUSTIFY">Operatori d’Assistenza Socio-Sanitaria</li>
	<li align="JUSTIFY">Terapista occupazionale</li>
</ul>
</div>

<div class="one-third">
<p style="margin-bottom: 14px; font-style: normal; font-size: 13px;"> </p>

<ul>
	<li align="JUSTIFY">Protesi articolari (anche, ginocchia, etc.)</li>
	<li align="JUSTIFY">Politraumatizzati</li>
	<li align="JUSTIFY">BPCO riacutizzata</li>
	<li align="JUSTIFY">Scompenso cardiaco</li>
	<li align="JUSTIFY">Malattie cerebrovascolari (Ictus cerebri, etc.)</li>
	<li align="JUSTIFY">Malattie demielinizzanti</li>
	<li align="JUSTIFY">M. di Parkinson e Parkinsonismi</li>
</ul>
</div>

<div class="one-third last">
<h3 style="font-style: normal;">Documentazione e Download</h3>

<ul>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;"><strong style="font-style: normal; font-size: 13px;"><span style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Brochure informativa</span></span></strong></a></li>
</ul>
</div>

<p><!--END ONE-THIRD--><!--ULTIMA COLONNA--><!--END ONE-THIRD--></p>

<div class="divider-border"> </div>

<div class="one-third" id="riab-4">
<h3><span style="background-color: #FFF031;">Riabilitazione Ambulatoriale</span></h3>

<p>L’OSMAIRM dispone di 11 ambulatori nei diversi comuni della Provincia di Taranto. I presidi ambulatoriali di Riabilitazione sono presidi della rete dei servizi che operano in stretta integrazione con le strutture di degenza del sistema ospedaliero ed extraospedaliero, già dalla fase sub-acuta, sia per i Pazienti provenienti dai reparti per acuti che per i Pazienti provenienti dal territorio.</p>

<p>La <strong><span style="background-color: #FFF031;">riabilitazione ambulatoriale</span></strong> è rivolta a Pazienti che presentano condizioni di disabilità conseguenti a <strong><span style="background-color: #FFF031;">patologie invalidanti</span></strong> ammissibili, per <strong>condizione clinica stabilizzata</strong> o <strong>ad andamento lentamente progressivo</strong>, che accedono al trattamento riabilitativo in regime territoriale extraospedaliero, <strong>ambulatoriale</strong>, non richiedendo alta tutela medica ed infermieristica per lo svolgimento delle specifiche attività riabilitative.</p>

<p>L’intervento è teso a al raggiungimento del massimo recupero possibile delle funzioni lese e del miglior adattamento di esse alle attività della vita, favorendo la partecipazione e contenendo la perdita funzionale.</p>
</div>
<!--END ONE-THIRD-->

<p> </p>

<p> </p>

<div class="one-third">
<h3> </h3>

<p>L’accesso alle prestazioni di riabilitazione ambulatoriale è riservato a <strong>Pazienti</strong> che per la complessità della disabilità <strong>necessitano della presa in carico globale</strong> che richiede un contestuale <strong>apporto multidisciplinare</strong>, così come previsto per le prestazioni dell’ex. Art. 26, L. 833/78.</p>

<p>In relazione all’inserimento dell’assistito nel percorso di riabilitazione i presidi di riabilitazione rispondono con la presa in carico globale definita all’interno del <strong><span style="background-color: #FFF031;">Progetto Riabilitativo</span></strong> condiviso con l’utente.</p>

<p> </p>

<blockquote>
<p>Per accedere al servizio di riabilitazione ambulatoriale è necessario contattare l’Assistente Sociale presente negli ambulatori dei diversi comuni.</p>
</blockquote>
</div>

<div class="one-third last">
<h3 style="font-style: normal;">Documentazione e Download</h3>

<ul style="font-style: normal; font-size: 13px;">
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Prenotazione e accettazione (RR)</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Documentazione in ingresso</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Cosa portare per il ricovero</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Documentazione in uscita</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Servizi per degenti e visitatori</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">orari di visita</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><strong style="font-size: 13px;"><span style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Brochure informativa</span></span></strong></a></li>
</ul>

<h3 style="font-style: normal;">Dove?</h3>

<ul style="font-style: normal; font-size: 13px;">
	<li style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Tutti gli ambulatori (<a href="http://www.osmairm.it/Strutture.aspx" target="_self">vai al menú strutture</a>)</span></b></span></li>
</ul>

<p style="font-size: 13px;"><br />
 </p>
</div>
<!--END ONE-THIRD--><!--ULTIMA COLONNA--><!--END ONE-THIRD-->

<div class="divider-border"> </div>

<div class="one-third" id="riab-5">
<h3><span style="background-color: #FFF031;">Riabilitazione Domiciliare</span></h3>

<p>L’OSMAIRM dispone di 11 ambulatori nei diversi comuni della Provincia di Taranto. I presidi ambulatoriali di Riabilitazione sono presidi della rete dei servizi che operano in stretta integrazione con le strutture di degenza del sistema ospedaliero ed extraospedaliero, già dalla fase sub-acuta, sia per i Pazienti provenienti dai reparti per acuti che per i Pazienti provenienti dal territorio.</p>

<p><span style="background-color: #FFF031;">La </span><strong><span style="background-color: #FFF031;">riabilitazione domiciliare</span> è rivolta a</strong> Pazienti che presentano condizioni di <strong><span style="background-color: #FFF031;">disabilità conseguenti a patologie invalidanti</span></strong> ammissibili, per <strong>condizione clinica stabilizzata</strong> o <strong>ad andamento lentamente progressivo</strong>, che accedono al trattamento riabilitativo in regime territoriale extraospedaliero, <strong>domiciliare</strong>, che non richiedendo alta tutela medica ed infermieristica per lo svolgimento delle specifiche attività riabilitative, e che, per <strong>intrasportabilità del soggetto</strong> o in <strong>riferimento al raggiungimento di obiettivi relativi all’autonomia nel proprio ambito domestico</strong>, necessitano di svolgere il trattamento riabilitativo in ambito <strong>domiciliare</strong>.<br />
<br />
<span style="font-size: 13px; font-style: normal;">L’intervento è teso a al raggiungimento del massimo recupero possibile delle funzioni lese e del miglior adattamento di esse alle attività della vita, favorendo la partecipazione e contenendo la perdita funzionale.</span></p>
</div>
<!--END ONE-THIRD-->

<div class="one-third">
<h3> </h3>

<p>L’accesso alle prestazioni di riabilitazione ambulatoriale è riservato a <strong>Pazienti</strong> che per la complessità della disabilità <strong><span style="background-color: #FFF031;">necessitano della presa in carico globale</span></strong> che richiede un contestuale <strong><span style="background-color: #FFF031;">apporto multidisciplinare</span></strong>, così come previsto per le prestazioni dell’ex. Art. 26, L. 833/78.</p>

<p>In relazione all’inserimento dell’assistito nel percorso di riabilitazione i presidi di riabilitazione rispondono con la presa in carico globale definita all’interno del <strong><span style="background-color: #FFF031;">Progetto Riabilitativo condiviso con l’utente</span></strong>.</p>

<p> </p>

<blockquote>
<p>Per accedere al servizio di riabilitazione domiciliare è necessario contattare l’Assistente Sociale presente negli ambulatori dei diversi comuni.</p>
</blockquote>
</div>

<div class="one-third last">
<h3 style="font-style: normal;">Documentazione e Download</h3>

<ul style="font-style: normal; font-size: 13px;">
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Prenotazione e accettazione (RR)</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Documentazione in ingresso</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Cosa portare per il ricovero</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Documentazione in uscita</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Servizi per degenti e visitatori</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">orari di visita</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><strong style="font-size: 13px;"><span style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Brochure informativa</span></span></strong></a></li>
</ul>

<h3 style="font-style: normal;">Dove?</h3>

<ul style="font-style: normal; font-size: 13px;">
	<li style="font-size: 13px;"><a href="http://www.osmairm.it/Strutture.aspx#struttura-1" target="_self"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Laterza (TA)</span></b></span></a></li>
</ul>

<p style="font-size: 13px;"><br />
 </p>
</div>
<!--END ONE-THIRD--><!--ULTIMA COLONNA--><!--END ONE-THIRD-->

<div class="divider-border"> </div>

<div class="one-third" id="riab-6">
<h3><span style="background-color: #FFF031;">Ricoveri Solventi</span></h3>

<p><span style="font-size: 13px; line-height: 1.6em;">Il Centro Residenziale di Laterza dispone di <strong>posti letto fruibili a pagamento </strong>da parte dell’utenza.</span><br />
<span style="font-size: 13px; line-height: 1.6em;">Le unità di degenza sono dotate ciascuna di due posti letto, con bagno in camera e servizi per disabili, modernamente arredate con televisione in ogni camera.</span></p>

<p><strong><span style="font-size: 13px; line-height: 1.6em;"><span style="background-color:#FFF031;">A chi si rivolge?</span></span></strong><br />
<span style="font-size: 13px; line-height: 1.6em;">La degenza solventi è destinata ad utenti che, pur in presenza di disabilità di vario grado ed etiologia, non presentano i requisiti necessari per l’ammissione ai posti in convenzione con il SSN.</span></p>

<p><strong><span style="font-size: 13px; line-height: 1.6em;"><span style="background-color:#FFF031;">Che cosa offre?</span></span></strong><br />
<span style="font-size: 13px; line-height: 1.6em;">Oltre ad una assistenza generica rivolta alla persona con vario grado di disabilità, <strong>è garantita la presenza infermieristica secondo il fabbisogno specifico di ciascun utente</strong>, inoltre una continuità assistenziale con <strong>medici specialisti</strong> in diverse discipline e <strong>guardia medica notturna e nei giorni feriali</strong>, oltreché da <strong>psicologi</strong>.</span></p>

<p><span style="font-size: 13px; line-height: 1.6em;">L’Equipe interdisciplinare esegue all’ingresso una Valutazione Multidimensionale, ed in seguito elabora un <strong>Progetto Riabilitativo Individuale</strong> da cui emerge il fabbisogno riabilitativo del singolo Ospite. Logopedista e Fisioterapisti qualificati provvedono dunque alla presa in carico per lo svolgimento del Programma Riabilitativo.</span></p>
</div>

<div class="one-third">
<p> </p>

<blockquote>
<p><span style="color: rgb(170, 170, 170); font-family: Georgia, 'Times New Roman', Times, serif; font-size: 17px; font-style: italic; line-height: 21px;">L’Equipe interdisciplinare esegue all’ingresso una Valutazione Multidimensionale, ed in seguito elabora un Progetto Riabilitativo Individuale da cui emerge il fabbisogno riabilitativo del singolo Ospite. </span></p>
</blockquote>

<p> </p>

<p><strong style="font-style: normal; font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">Come si accede?</span></strong><br />
<span style="font-style: normal; font-size: 13px; line-height: 1.6em;">Per l’ammissione è sufficiente contattare le Assistenti Sociali del Centro OSMAIRM, con sede a Laterza, in via Cappuccini, 9 al seguente numero telefonico <strong>+39 099 8297501</strong>.</span></p>

<p><strong style="font-size: 13px; line-height: 1.6em;"><span style="background-color:#FFF031;">Modalità di pagamento</span></strong><br />
<span style="font-size: 13px; line-height: 1.6em;">Sono previste diverse <strong>fasce di costo</strong> individuate in base al fabbisogno specifico di ogni singolo ospite.</span><br />
<span style="font-size: 13px; line-height: 1.6em;">All’atto del ricovero il Paziente od un suo famigliare si impegna a garantire il pagamento della tariffa giornaliera individuata.</span><br />
<span style="font-size: 13px; line-height: 1.6em;">Il pagamento previsto viene effettuato entro i primi 10 giorni di ogni mese.  </span></p>

<p> </p>

<p> </p>
</div>

<div class="one-third last">
<h3 style="font-style: normal;">Documentazione e Download</h3>

<ul style="font-style: normal; font-size: 13px;">
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Prenotazione e accettazione (RR)</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Documentazione in ingresso</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Cosa portare per il ricovero</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Documentazione in uscita</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Servizi per degenti e visitatori</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">orari di visita</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><strong style="font-size: 13px;"><span style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Brochure informativa</span></span></strong></a></li>
</ul>

<h3 style="font-style: normal;">Dove?</h3>

<ul style="font-style: normal; font-size: 13px;">
	<li style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Laterza (TA)</span></b></span></li>
</ul>
</div>

<div class="divider-border"> </div>

<div class="one-third" id="riab-7">
<h3><span style="background-color: #FFF031;">Riabilitazione Età Evolutiva</span></h3>

<p>Il centro di <strong><span style="background-color:#FFF031;">riabilitazione per l’età evolutiva</span></strong><span style="background-color:#FFF031;"> “</span><strong><span style="background-color:#FFF031;">Raggio di Sole</span></strong><span style="background-color:#FFF031;">”</span> si rivolge a di diverse <strong><span style="background-color:#FFF031;">problematiche dello sviluppo</span></strong>, con attenzione alla globalità e facendo proprie le indicazioni presenti nelle Linee Guida Ministeriali.</p>

<p>Inserito nel tessuto locale, si focalizza sulle esigenze del territorio, dialogando attivamente con le istituzioni e con le parti sociali.</p>

<p>La centralità della persona è fondamentale, <strong><span style="background-color:#FFF031;">il bambino/ragazzo e i suoi bisogni sono il fulcro di ogni azione intrapresa</span></strong> volta a mantenere l’eccellenza del servizio attraverso la valorizzazione della professionalità degli operatori.</p>

<p>Il punto cardine delle attività svolte è l’<strong><span style="background-color:#FFF031;">approccio multidisciplinare alla domanda</span></strong>, in tutte le aree di intervento, la prima fase è l’individuazione delle esigenze riabilitative/abilitative del paziente, a cui segue la stesura del <strong><span style="background-color:#FFF031;">Progetto Riabilitativo Individuale</span></strong>.</p>

<p>Le varie tematiche cliniche sono affrontate secondo la modalità dell’èquipe integrata. <strong><span style="background-color:#FFF031;">Il modello di network prevede l’interazione fra servizio, famiglia, scuola ed altre agenzie educative</span></strong>.</p>

<p><strong style="font-style: normal; font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">Attività Formativa</span></strong><br />
<span style="font-size: 13px; line-height: 1.6em;">Ragionando sui bisogni espressi dal territorio e con il fine di offrire uno spazio di incontro e di confronto rivolto alla comunità, </span><strong style="font-size: 13px; line-height: 1.6em;"><span style="background-color:#FFF031;">Il centro “Raggio di Sole”</span></strong><span style="font-size: 13px; line-height: 1.6em;"> svolge inoltre, </span><strong style="font-size: 13px; line-height: 1.6em;"><span style="background-color:#FFF031;">attività di informazione e di formazione</span></strong><span style="font-size: 13px; line-height: 1.6em;"> destinata a scuole ed enti richiedenti, su tematiche riguardanti l’età evolutiva.</span></p>

<p><strong><span style="background-color:#FFF031;">Attività Clinica</span></strong><br />
<span style="font-size: 13px; line-height: 1.6em;">L’èquipe multidisciplinare, di seguito ad un percorso di prima accoglienza e di valutazione provvede alla presa in carico della persona integrandosi al network (scuola, </span><span style="font-size: 13px; line-height: 1.6em;">famiglia, altre agenzie educative).</span></p>

<p> </p>

<div> </div>
</div>
<!--END ONE-THIRD-->

<div class="one-third">
<h3> </h3>

<p><span style="font-size: 13px; font-style: normal;">Le aree di intervento vengono di seguito menzionate suddivise per aggregazioni cliniche denominate </span><strong style="font-style: normal; font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">Unità Funzionali</span></strong><span style="font-size: 13px; font-style: normal;">.</span><br />
<br />
<strong style="font-size: 13px; line-height: 1.6em;"><span style="background-color:#FFF031;">Unità funzionale per i disturbi specifici della comunicazione</span></strong><br />
<span style="font-size: 13px; line-height: 1.6em;">Valutazione e presa in carico riabilitativa dei disturbi specifici della comunicazione verbale e della deglutizione: <strong>Disfonia, Disartria, Disfluenza, Ipoacusia, Disordine fonologico, Disturbo specifico di linguaggio, Terapie interattive per bambini later talking (parlatori tardivi) per prevenire e/o canalizzare un eventuale disturbo di linguaggio, Deglutizione atipica, Disfagia.</strong></span></p>

<p><strong style="font-style: normal; font-size: 13px; line-height: 1.6em;"><span style="background-color:#FFF031;">Unità funzionale per i disturbi</span></strong><strong><span style="background-color:#FFF031;"> Neuropsicologici e dell'apprendimento</span></strong><br />
<span style="font-size: 13px; line-height: 1.6em;">Diagnosi ed intervento dei disturbi neuropsicologici e delle difficoltà di apprendimento: </span><strong><span style="font-size: 13px; line-height: 1.6em;">Dislessia, </span><span style="font-size: 13px; line-height: 1.6em;">Disortografia e Disgrafia, </span><span style="font-size: 13px; line-height: 1.6em;">Discalculia, </span><span style="font-size: 13px; line-height: 1.6em;">Disturbi visuo-spaziali e grafo rappresentativi, </span><span style="font-size: 13px; line-height: 1.6em;">Disprassia, </span><span style="font-size: 13px; line-height: 1.6em;">Difficoltà di memoria, </span></strong><span style="font-size: 13px; line-height: 1.6em;"><strong>Difficoltà di attenzione</strong>.</span><br />
<span style="font-size: 13px; line-height: 1.6em;">Addestramento del bambino agli strumenti compensativi e councelling scolastico per la stesura del PDP.</span></p>

<p><strong style="font-style: normal; font-size: 13px; line-height: 1.6em;"><span style="background-color:#FFF031;">Unità funzionale per i</span></strong><strong><span style="background-color:#FFF031;"> ritardi mentali</span></strong><br />
<span style="font-size: 13px; line-height: 1.6em;">Diagnosi e trattamento dei disturbi intellettivi, comportamentali ed adattivi del ritardo mentale. <strong>Intervento Educativo domiciliare</strong> mirato al raggiungimento delle autonomie di base e councelling scolastico per la stesura del PEI.</span></p>

<p><strong style="font-style: normal; font-size: 13px; line-height: 1.6em;"><span style="background-color:#FFF031;">Unità funzionale per</span></strong><span style="font-size: 13px; line-height: 1.6em;"><strong><span style="background-color:#FFF031;"> la rieducazione posturale</span></strong></span><br />
<span style="font-size: 13px; line-height: 1.6em;">Inquadramento, approfondimento clinico e rieducazione dei disordini muscolo scheletrici.</span></p>

<p><br />
 </p>

<p align="JUSTIFY" style="margin-bottom: 0cm"><br />
 </p>
</div>

<div class="one-third last">
<h3 style="font-style: normal;">Documentazione e Download</h3>

<ul style="font-style: normal; font-size: 13px;">
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Prenotazione e accettazione (RR)</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Documentazione in ingresso</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Cosa portare per il ricovero</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Documentazione in uscita</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Servizi per degenti e visitatori</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">orari di visita</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><strong style="font-size: 13px;"><span style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Brochure informativa</span></span></strong></a></li>
</ul>

<h3 style="font-style: normal;">Dove?</h3>

<ul style="font-style: normal; font-size: 13px;">
	<li style="font-size: 13px;"><a href="http://www.osmairm.it/Strutture.aspx#struttura-1" target="_self"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Laterza (TA)</span></b></span></a></li>
</ul>

<p style="font-size: 13px;"><br />
 </p>
</div>
<!--END ONE-THIRD--><!--ULTIMA COLONNA--><!--END ONE-THIRD-->

<div class="divider-border"> </div>

<div class="one-third" id="riab-8">
<h3><span style="background-color: #FFF031;">Turismo Accessibile</span></h3>

<p>Il centro di <strong><span style="background-color:#FFF031;">riabilitazione per l’età evolutiva</span></strong><span style="background-color:#FFF031;"> “</span><strong><span style="background-color:#FFF031;">Raggio di Sole</span></strong><span style="background-color:#FFF031;">”</span> si rivolge a di diverse <strong><span style="background-color:#FFF031;">problematiche dello sviluppo</span></strong>, con attenzione alla globalità e facendo proprie le indicazioni presenti nelle Linee Guida Ministeriali.</p>

<p>Inserito nel tessuto locale, si focalizza sulle esigenze del territorio, dialogando attivamente con le istituzioni e con le parti sociali.</p>

<p>La centralità della persona è fondamentale, <strong><span style="background-color:#FFF031;">il bambino/ragazzo e i suoi bisogni sono il fulcro di ogni azione intrapresa</span></strong> volta a mantenere l’eccellenza del servizio attraverso la valorizzazione della professionalità degli operatori.</p>

<p>Il punto cardine delle attività svolte è l’<strong><span style="background-color:#FFF031;">approccio multidisciplinare alla domanda</span></strong>, in tutte le aree di intervento, la prima fase è l’individuazione delle esigenze riabilitative/abilitative del paziente, a cui segue la stesura del <strong><span style="background-color:#FFF031;">Progetto Riabilitativo Individuale</span></strong>.</p>

<p>Le varie tematiche cliniche sono affrontate secondo la modalità dell’èquipe integrata. <strong><span style="background-color:#FFF031;">Il modello di network prevede l’interazione fra servizio, famiglia, scuola ed altre agenzie educative</span></strong>.</p>

<p><strong style="font-style: normal; font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">Attività Formativa</span></strong><br />
<span style="font-size: 13px; line-height: 1.6em;">Ragionando sui bisogni espressi dal territorio e con il fine di offrire uno spazio di incontro e di confronto rivolto alla comunità, </span><strong style="font-size: 13px; line-height: 1.6em;"><span style="background-color:#FFF031;">Il centro “Raggio di Sole”</span></strong><span style="font-size: 13px; line-height: 1.6em;"> svolge inoltre, </span><strong style="font-size: 13px; line-height: 1.6em;"><span style="background-color:#FFF031;">attività di informazione e di formazione</span></strong><span style="font-size: 13px; line-height: 1.6em;"> destinata a scuole ed enti richiedenti, su tematiche riguardanti l’età evolutiva.</span></p>

<p><strong><span style="background-color:#FFF031;">Attività Clinica</span></strong><br />
<span style="font-size: 13px; line-height: 1.6em;">L’èquipe multidisciplinare, di seguito ad un percorso di prima accoglienza e di valutazione provvede alla presa in carico della persona integrandosi al network (scuola, </span><span style="font-size: 13px; line-height: 1.6em;">famiglia, altre agenzie educative).</span></p>

<p> </p>

<div> </div>
</div>
<!--END ONE-THIRD-->

<div class="one-third">
<h3> </h3>

<p><span style="font-size: 13px; font-style: normal;">Le aree di intervento vengono di seguito menzionate suddivise per aggregazioni cliniche denominate </span><strong style="font-style: normal; font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 240, 49);">Unità Funzionali</span></strong><span style="font-size: 13px; font-style: normal;">.</span><br />
<br />
<strong style="font-size: 13px; line-height: 1.6em;"><span style="background-color:#FFF031;">Unità funzionale per i disturbi specifici della comunicazione</span></strong><br />
<span style="font-size: 13px; line-height: 1.6em;">Valutazione e presa in carico riabilitativa dei disturbi specifici della comunicazione verbale e della deglutizione: <strong>Disfonia, Disartria, Disfluenza, Ipoacusia, Disordine fonologico, Disturbo specifico di linguaggio, Terapie interattive per bambini later talking (parlatori tardivi) per prevenire e/o canalizzare un eventuale disturbo di linguaggio, Deglutizione atipica, Disfagia.</strong></span></p>

<p><strong style="font-style: normal; font-size: 13px; line-height: 1.6em;"><span style="background-color:#FFF031;">Unità funzionale per i disturbi</span></strong><strong><span style="background-color:#FFF031;"> Neuropsicologici e dell'apprendimento</span></strong><br />
<span style="font-size: 13px; line-height: 1.6em;">Diagnosi ed intervento dei disturbi neuropsicologici e delle difficoltà di apprendimento: </span><strong><span style="font-size: 13px; line-height: 1.6em;">Dislessia, </span><span style="font-size: 13px; line-height: 1.6em;">Disortografia e Disgrafia, </span><span style="font-size: 13px; line-height: 1.6em;">Discalculia, </span><span style="font-size: 13px; line-height: 1.6em;">Disturbi visuo-spaziali e grafo rappresentativi, </span><span style="font-size: 13px; line-height: 1.6em;">Disprassia, </span><span style="font-size: 13px; line-height: 1.6em;">Difficoltà di memoria, </span></strong><span style="font-size: 13px; line-height: 1.6em;"><strong>Difficoltà di attenzione</strong>.</span><br />
<span style="font-size: 13px; line-height: 1.6em;">Addestramento del bambino agli strumenti compensativi e councelling scolastico per la stesura del PDP.</span></p>

<p><strong style="font-style: normal; font-size: 13px; line-height: 1.6em;"><span style="background-color:#FFF031;">Unità funzionale per i</span></strong><strong><span style="background-color:#FFF031;"> ritardi mentali</span></strong><br />
<span style="font-size: 13px; line-height: 1.6em;">Diagnosi e trattamento dei disturbi intellettivi, comportamentali ed adattivi del ritardo mentale. <strong>Intervento Educativo domiciliare</strong> mirato al raggiungimento delle autonomie di base e councelling scolastico per la stesura del PEI.</span></p>

<p><strong style="font-style: normal; font-size: 13px; line-height: 1.6em;"><span style="background-color:#FFF031;">Unità funzionale per</span></strong><span style="font-size: 13px; line-height: 1.6em;"><strong><span style="background-color:#FFF031;"> la rieducazione posturale</span></strong></span><br />
<span style="font-size: 13px; line-height: 1.6em;">Inquadramento, approfondimento clinico e rieducazione dei disordini muscolo scheletrici.</span></p>

<p><br />
 </p>

<p align="JUSTIFY" style="margin-bottom: 0cm"><br />
 </p>
</div>

<div class="one-third last">
<h3 style="font-style: normal;">Documentazione e Download</h3>

<ul style="font-style: normal; font-size: 13px;">
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Prenotazione e accettazione (RR)</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Documentazione in ingresso</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Cosa portare per il ricovero</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Documentazione in uscita</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Servizi per degenti e visitatori</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">orari di visita</span></b></span></a></li>
	<li style="font-size: 13px;"><a href="http://osmairm.it/images/Info Coming soon.pdf" onclick="window.open(this.href, 'Info', 'resizable=no,status=no,location=no,toolbar=no,menubar=no,fullscreen=no,scrollbars=no,dependent=no'); return false;" style="font-size: 13px;"><strong style="font-size: 13px;"><span style="font-size: 13px;"><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Brochure informativa</span></span></strong></a></li>
</ul>

<h3 style="font-style: normal;">Dove?</h3>

<ul style="font-style: normal; font-size: 13px;">
	<li style="font-size: 13px;"><a href="http://www.osmairm.it/Strutture.aspx#struttura-1" target="_self"><span style="font-size: 13px;"><b><span style="font-size: 13px; background-color: rgb(255, 237, 0);">Laterza (TA)</span></b></span></a></li>
</ul>

<p style="font-size: 13px;"><br />
 </p>
</div>
<!--END ONE-THIRD--><!--ULTIMA COLONNA--><!--END ONE-THIRD-->